
<div class="main-page">
  <mat-card  style="width: 320px; align-items: center; padding-bottom: 10px; border-radius: 25px;">
    <mat-card-header>
      <mat-card-title>
        <h3>Welcome to<br> CMDB!</h3><!-- Access movie.movie -->
      </mat-card-title>
    </mat-card-header>
  
   
    <mat-card-actions class="button-container">
      <button
      class="custom-button"
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        
      >
        Sign Up
      </button>
      <button
      class="custom-button"
        mat-raised-button
        (click)="openUserLoginDialog()"
       
      >
        Login
      </button>
    </mat-card-actions>
    </mat-card>
  </div>