<div class="main-page">
  <mat-card style="width: 320px; align-items: center; padding: 20px; border-radius: 25px;">
    <mat-card-header>
      <mat-card-title>
        <h3>Welcome to</h3>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <img src="assets/logo-small.png" alt="CMDB Logo" /><br><br>
    </mat-card-content>


    <mat-card-actions class="button-container">
      <button class="custom-button" mat-raised-button (click)="openUserRegistrationDialog()">
        Sign Up
      </button>
      <button class="custom-button" mat-raised-button (click)="openUserLoginDialog()">
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>