<app-nav-bar></app-nav-bar>

<!-- Search box for movies -->
<div class="search-container">
  <input type="text" placeholder="Search by title, actor, or director..." [(ngModel)]="searchTerm"
    (input)="filterMovies()" class="search-box" />
</div>

<!-- Movie cards with filtered movies -->
<div [ngClass]="{'single-movie-container': filteredMovies.length === 1, 'cards': filteredMovies.length > 1}">
  <mat-card class="custom-card" *ngFor="let movie of filteredMovies;">
    <img [src]="movie.ImageURL" />

    <mat-card-content style="padding: 10px;">
      <h2 class="title">{{movie.Title}}</h2>
      <p>Directed by: {{movie.Director.Name}}</p>
      <p>Main Actors: {{ movie.Actors.slice(0, 3).join(', ') }}</p>
      <p>Genre: {{movie.Genre.Type}}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-icon-button (click)="openGenreDialog(movie.Genre)" aria-label="Genre" matTooltip="Genre"
        matTooltipPosition="below" matTooltipDelay="300">
        <mat-icon>category</mat-icon>
      </button>
      <button mat-icon-button (click)="openDirectorDialog(movie.Director)" aria-label="Director" matTooltip="Director"
        matTooltipPosition="below" matTooltipDelay="300">
        <mat-icon>movie</mat-icon>
      </button>
      <button mat-icon-button (click)="openSynopsisDialog(movie)" aria-label="Synopsis" matTooltip="Synopsis"
        matTooltipPosition="below" matTooltipDelay="300">
        <mat-icon>description</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleFavorite(movie._id)">
        <mat-icon matTooltip="Remove" style="color: #6200ea;" *ngIf="isFavorite(movie._id)">favorite</mat-icon>
        <mat-icon matTooltip="Favourite" class="favorite" *ngIf="!isFavorite(movie._id)">favorite_border</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>