.custom-card {
    border-radius: 16px; /* Round corners */
    overflow: hidden;    /* Ensures child elements like image stay within bounds */
    flex: 1 1 auto; 
    max-width: 350px; 
    margin: 10px; 
    height: 450px;
    padding-bottom: 10px;
  }

  .title {
    white-space: nowrap;          /* Prevents the text from wrapping */
    overflow: hidden;             /* Hides the overflowed text */
    text-overflow: ellipsis;      /* Adds "..." when the text overflows */
    width: 100%;                  /* Make sure to set a fixed width */
  }
  

.search-container {
    margin: 20px auto;
    text-align: center;
  }

.search-box {
  width: 65%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 16px;
  color: #292929;

}

  
  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2em;
  }

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.2em;
  }

  img {
    object-fit: cover;
  width: 100%;   /* Ensures the image takes up the full width of the container */
  height: 50%; /* Sets a specific height for the image container */
  object-position: top;
  }
  
  mat-card-content {
    padding: 16px;
    flex-grow: 1;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: space-around;  /* Align the icons next to each other */
    padding: 5px 10px;
  }


  .cards {
    display: flex;
    flex-wrap: wrap; /* Wrap cards to next row */
    justify-content: center; /* Center cards horizontally */
    gap: 10px; /* Space between cards */
  }

  /* To ensure that when there's only one card, it doesn't stretch */
@media (min-width: 768px) {
  .custom-card {
    flex: 1 1 250px; /* Flex property for larger screens */
  }
}


    /* Responsive Styles */
    @media (max-width: 500px) {
      div {padding: 5px;
      margin:auto}

      
      /* Container for all movie cards */
.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the movie cards */
  gap: 20px; /* Add some space between the cards */
}

/* Style for individual movie cards */
.custom-card {
  width: 250px; /* Set a fixed width for movie cards */
  min-width: 250px; /* Ensure a minimum width */
  max-width: 250px;
  margin: 10px; /* Add margin for spacing */
  flex: 0 0 auto; /* Prevent cards from stretching */
}


    }