* {
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  color: #ffffff; /* Default text color */
  font-family: Arial, Helvetica, sans-serif; /* Default font */


}

html, body {
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
  background-color: #292929;
  color: #ffffff;
  margin: 10px 50px;
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Full viewport height */
  text-align: center; /* Center text */
}

.logo {
  width: 40px;
  height: auto;
  align-items: center; /* Center horizontally */
  margin: 30px;
}

.button-container {
  display: flex; /* Align buttons in a row */
  gap: 10px; /* Space between buttons */
  color: #ffffff;
}

.custom-button {
  background-color: #6200ea; /* Custom background color */
  color: #ffffff; /* Custom text color */
  transition: background-color 0.3s, transform 0.2s; /* Transition effects */
  border-radius: 5px;
}

.custom-button:hover {
  background-color: #3700b3; /* Darker shade on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.custom-button:active {
  background-color: #6200ea; /* Maintain original color on active */
  transform: scale(0.95); /* Slightly shrink on active */
}
